/* Site-wide styling here */
body {
    background-color: #676767; /* Bara för att testa, ÄNDRA eller ta bort! */
    color: #111;
    padding: 0%;
    
    
}


/* All Nav things for the side menu*/
#menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
  }
  
  #menu a {
    padding: 14px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  #menu a:hover {
    color: white;
  }
  
  #MenuButton {
    position:relative;
    left: 18px;
    background-color:#818181;
    color: white;
    font-size: 25px;
    padding: 4px;
  }
  #MenuButton:hover {
    background-color: black;
    
  }

/* Date och time */
#dateAndTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 10px;
  border: #111 solid;
  margin: 0%;
  background-color: gray;
  padding-right: 5px;
  padding-left: 5px;
}

#dateAndTime h2 {
  padding: 0%;
  margin: 0%;
}
#dateAndTime span {
  font-size: x-large;
}

/* Welcome sidan styling samt knappar */
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

  #login {
    font-size:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    max-width: fit-content;
    padding: 10px;
  }

  #login p {
    margin: 0%;
  }